<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div *ngIf="!connected">
    l'utilisateur n'est pas connecté
    
  </div>

  <div *ngIf="connected">
   l'utilisateur est connecté
    
  </div>

  <br>

  <ion-item>
    <ion-label><b>Email:</b></ion-label>
    <ion-input type="email" [(ngModel)]="dataUser.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Mot de passe:</b></ion-label>
    <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="login()">Connexion</ion-button>

  <br>

  <ion-button expand="block" color="tertiary" (click)="signUp()">Inscription</ion-button>

</ion-content>
