<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <br>

  <div *ngIf="userProfiles?.length > 0;else noProfiles">
    <!-- show compagny -->
    <ion-item *ngFor="let userProfile of userProfiles">
      <ion-label>
        <h2><b>Welcome to Orgaplan: {{ userProfile.compagny }}</b></h2>
      </ion-label>
    </ion-item>

    <!-- show card -->
    <div *ngIf="chantiers?.length > 0;else noChantiers">
        <ion-card *ngFor="let chantier of chantiers" class="collection">
        <img src="../../assets/chantier1.jpg"/>
        <ion-card-content>
            <ion-card-title>{{ chantier.nomchantier }}</ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>
  
    </div>

  </div>

  <ng-template #noProfiles>
    <hr>
    <h5>There are no User Loged to display</h5>
  </ng-template>





  <ng-template #noChantiers>
    <hr>
    <h5>There are no Chantier to display</h5>
  </ng-template>

  <ion-button expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>

</ion-content>
